NODE_ENV=development

PORT=3000

CATALYST_PROJECT_ID=

CATALYST_CLIENT_ID=

CATALYST_CLIENT_SECRET=

DATASTORE_NAME=

NOSQL_NAME=

STRATUS_BUCKET=

SMARTBROWZ_TEMPLATE=

QUICKML_ENDPOINT=

API_GATEWAY_URL=